body{
    background-color:rgb(12, 12, 12);
}

.nav{
    padding-block-start: 1.5vh;
    padding-inline: 1.5vw;
    font-size: 2vh;

}

.nav-pills .nav-link{
    color: #84a9df;
    border-radius: 15px;
    background-color: rgb(39, 39, 39);

}

.nav-link:hover{
    color: #3684f8;
    background-color: rgb(22, 22, 22);

}

.nav-link.active:hover{
    background-color: #0037ff;
}