body{
    background-color:rgb(12, 12, 12);
}

.nav{
    padding-block-start: 1.5vh;
    padding-inline: 1.5vw;
    font-size: 2.2vh;
}

.nav-pills .nav-link{
    color: #84a9df;
    border-radius: 15px;
    background-color: rgb(39, 39, 39);
    margin-inline: .3vw;
}

.nav-link:hover{
    color: #3684f8;
    background-color: rgb(22, 22, 22);
}

.nav-link.active:hover{
    background-color: #0037ff;
}

/* ------------------------------- */

.h1, h1 {
    font-size: 13vh;
    color: pink;
}