body{
    background-color:rgb(12, 12, 12);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 20 20'%3E%3Cg fill-opacity='0.52'%3E%3Cpolygon fill='%23050505' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23050505' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}

.nav{
    padding-block-start: 1.5vh;
    padding-inline: 1.5vw;
    font-size: 2.2vh;

}

.nav-pills .nav-link{
    color: #84a9df;
    border-radius: 15px;
    background-color: rgb(39, 39, 39);
    margin-inline: .3vw;

}

.nav-link:hover{
    color: #3684f8;
    background-color: rgb(22, 22, 22);

}

.nav-link.active:hover{
    background-color: #0037ff;
}

.h2, h2{
    padding-top: 4vw;
    padding-inline: 6vw;
    color: wheat;
}
p.little{
    padding-inline: 6vw;
    font-size: large;
    color:rgb(163, 155, 140)
}

div.content {
    color:white;
    padding-top: 3vw;
    padding-inline:6vw;
    font-size: calc(0.75em + 1vmin);
    padding-right:10vw;
    line-height: calc(0.75em + 2.2vh);
}

.blockquote{
    font-family: monospace;
    font-size: calc(0.75em + 0.8vmin);
    padding-inline: 4vh;
    padding-block: 2vh;
    background-color: #222222;
    border-radius: 30px;
}

footer{
    margin-top: 20vh;
    text-align: center;
}

body::-webkit-scrollbar {
	width:0.6rem;
}

body::-webkit-scrollbar-track {
	background:#0c0c0c;

}
body::-webkit-scrollbar-track:hover {
	background:#0c0c0c;
	width:1rem;
}


body::-webkit-scrollbar-thumb {
	background:#317ab6;
    border-radius: 100px;
}

body::-webkit-scrollbar-thumb:hover {
	background:#40a4f5;
	width:1rem;
}
body::-webkit-scrollbar:hover {
	width:1rem;
}

span.badge.bg-danger:hover{
    background-color: #d62032 !important;
    font-size: 0.77em !important;
    border-radius: 8px;
}

.little:hover{
    color:#dbd1bd !important;
    text-decoration:underline !important;
}